---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../icons/LinkedinIcon.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import MailIcon from '../icons/MailIcon.astro';
import CodeIcon from '../icons/CodeIcon.astro';
import ItchIoIcon from '../icons/ItchIoIcon.astro';
import FaceIcon from '../icons/FaceIcon.astro';
import SocialPill from '../components/SocialPill.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
	title="Harold's portfolio - Web and Game developer"
	description='Hire Harold for your next project. I am a Web and Game developer. Check out his LinkedIn and Github.'>
	<main class="px-4">
		<SectionContainer class="pt-44 pb-24">
			<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				I'm Harold <a 
				href="https://www.linkedin.com/in/harold-breeinton-quiroz-c/"
				target="_blank"
				rel="noopener" 
				class="flex justify-center items-center"
				><Badge>Avaiable for hire👋</Badge></a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-pretty max-w-[700px]">
				A versatile creative mind with a passion for <span class="text-blue-500">Web</span> and <span class="text-red-500">Game</span> development, all while exploring the fascinating world of <span class="text-purple-500">Mathematics</span>.</h2>
			<nav class="flex flex-row gap-4 mt-8 flex-wrap">

				<SocialPill href="https://www.linkedin.com/in/harold-breeinton-quiroz-c/">
					<LinkedinIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/NekoDex97">
					<GithubIcon class="size-4 md:size-6" />
					Github
				</SocialPill>
				<SocialPill href="mailto:hbreeinton@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					hbreeintonquiroz@gmail.com
				</SocialPill>
				<SocialPill href="https://itch.io/profile/mok1aok1">
					<ItchIoIcon class="size-4 md:size-6" />
					Itch.io
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="about">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center"><FaceIcon class="size-7" />About me</h2>
			<p class="mb-8 text-pretty">In a world where pixels and code converge to shape our digital landscape, I strive to craft designs from elegant user interfaces to innovative branding solutions, my work is a fusion of creativity and functionality.</p>
		</SectionContainer>
		<SectionContainer id="projects"	>
			<h2 class="text-2xl font-semibold mb-4 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Projects
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>