<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img 
    class="rounded-full w-16 h-16" 
    src="https://avatars.githubusercontent.com/u/22204967?v=4" 
    alt="harold logo">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Home</a>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <!-- <a href="#contact">Contact</a> -->
    </nav>
</header>